<html>
  <head>
    <link rel="stylesheet" href="lobbycss.css">
  </head>  
  <body>
    <form class="box">
      <button><img src="plus.png">Access to Todo list</button>
    </form>
  </body>
</html>