.lobbyPage {
  height: 100vh;
  background-image: url('./thumb-1920-742320.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  font-family: Quicksand;
}

@font-face {
  font-family: 'Quicksand';
  src: url(font/Quicksand/Quicksand-VariableFont_wght.ttf);
}

.header {
  background-color: #000;
  height: 60px;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.header div {
  display: block;
  color: #fff;
  float: right;
  height: 100%;
  line-height: 60px;
}

.header button {
  display: block;
  height: 100%;
  line-height: 60px;
  width: 100px;
  background-color: #000;
  transition: background-color 0.25s;
  font-size: 100%;
}

.header button:hover {
  background-color:rgb(30, 30, 30);
  transition: background-color 0.25s;
}

.profile {
  border-left: 1px solid #fff;
  padding-right: 50px;
  padding-left: 50px;
}

.signup {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 20px;
  margin-left: 5px;
  background-color: black;
  color: #fff;
  outline: none;
  border: none;
}

.login {
  padding-right: 30px;
  padding-left: 30px;
  background-color: black;
  color: #fff;
  outline: none;
  border: none;
}



