body {
  background-color: #34495e;
  font-family: 'Quicksand';
}

@font-face {
  font-family: 'Quicksand';
  src: url(font/Quicksand/Quicksand-VariableFont_wght.ttf);
}

.box {
  width: 400px;
  height: 400px;
  background-color: 191919;
  padding: 40px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  color: white;
}

input {
  border-radius: 10px;
  border: none;
  outline: none;
}

.box input[type = "text"],.box input[type = "password"] {
  border: 0;
  background: none ;
  border-radius: 24px;
  display: block;
  margin: 20px auto ;
  text-align: center;
  border:2px solid #30ffba;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white ;
  transition: 0.25s;
}

.box input[type = "text"]:hover,.box input[type = "password"]:hover {
  width: 210px;
  transition: width .25s ease, border 1s ease-in-out;
  border:2px solid #30ffba;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus {
  border:2px solid #ff00aa;
  transition: border 1s ease-in-out;
}

.box input[type = "submit"] {
  border: 0;
  background: none ;
  border-radius: 24px;
  display: block;
  margin: 20px auto ;
  text-align: center;
  border:2px solid #00aeff;
  padding: 14px 40px;
  outline: none;
  color: white ;
  transition: 0.25s; 
  cursor: pointer;
}

.box input[type = "submit"]:hover {
  background-color: #00aeff;
}