<html>
  <body>
    <h1>Hello World</h1>
    <p>This is the content.....<p>
    <p>Current time: <%= currentTime %><p>

    <form action="" method="post" class="form-example">
      <div class="form-example">
        <label for="name">Enter your name: </label>
        <input type="text" name="name" id="name" required>
      </div>
      <div class="form-example">
        <label for="password">Enter your password: </label>
        <input type="password" name="password" id="password" required>
      </div>
      <div class="form-example">
        <input type="submit" value="Sign up">
      </div>
    </form> 

  </body>
</html>
