<html>
  <head>
    <title>Lobby for Todo</title>
    <link rel = "icon" href="https://i.ibb.co/TTfdZpc/plus.png" type="image/png">
    <link rel="stylesheet" href="static/lobby.css">
  </head>
  <body>
    <form action="/login" method="GET">
      <button class="button">
        <p class="access">&emsp;
          <img src="https://i.ibb.co/B330Wrg/right-arrow.png" border="0" width="50" height="50" class="plus"> &nbsp;
           log into your todo list  &emsp;
      </p>
      </button>
    </form>
  </body>
</html>