<html>
  <head>
    <title> Sign in </title>
    <link rel = "icon" href="https://i.ibb.co/TTfdZpc/plus.png" type="image/png">
    <link rel="stylesheet" href="static/login.css">
  </head>
  <body>
    <form class="box" action="login" method="get">
      <h1>Log in</h1>
      <input type="text" name="username" placeholder="&nbsp; username">
      <input type="password" name="password" placeholder="&nbsp; password">
      <input type="submit" name="login" value="Login">
      <p>
        Don't have an account? &nbsp;
        <a href="/signup">
          sign up
        </a>
      </p>
    </form>
  </body>
</html>