<html>
  <head>
    <title> Sign up </title>
    <link rel = "icon" href="https://i.ibb.co/TTfdZpc/plus.png" type="image/png">
    <link rel="stylesheet" href="static/signup.css">
  </head>
  <body>
    <form class="box" action="/signup" method="get">
      <h1>Sign up</h1>
      <input type="text" name="username" placeholder="&nbsp; username">
      <input type="text" name="email" placeholder="&nbsp; email">
      <input type="password" name="password" placeholder="&nbsp; password">
      <input type="submit" name="signup" value="Login">
    </form>
  </body>
</html>