<html>
  <head>
    <title> Sign up </title>
    <link rel = "icon" href="https://i.ibb.co/TTfdZpc/plus.png" type="image/png">
    <link rel="stylesheet" href="static/signup.css">
  </head>
  <body>
    <form class="box" action="/signup" method="POST">
      <h1>Sign up</h1>
      <input type="text" name="username" placeholder="&nbsp; username" required>
      <input type="text" name="email" placeholder="&nbsp; email">
      <input type="password" name="password" placeholder="&nbsp; password" required>
      <input type="submit" name="signup" value="Sign up">
    </form>
  </body>
</html>