<html>
    <head>
        <link rel="stylesheet" href="todo.css">
    </head>
    <body>
      <h1> Todo list </h1>
      <button type="submit" id="addTask">
        <h1>Add task</h1>
      </button>
     </body>
</html>
ß