<html>
  <head>
    <title>Lobby of Todo</title>
    <link rel="icon" href="https://i.ibb.co/TTfdZpc/plus.png" type="image/png">
    <%- include('todocss.ejs'); %>
  </head>
  <body>
    <ul>
      <h1> Todo </h1>

      <form action="" method="POST" class="addForm">

        <div class="name">
          <input type="text" name="name" id="textName" placeholder="task name" required>
        </div>

        <div class="description">
          <input type="text" name="description" id="description" placeholder="description (optional)">
        </div>

        <button type="submit" id="addTask" class="addTask">
          <img src="https://i.ibb.co/TTfdZpc/plus.png" border="0" width="40" height="40" class="plus">
          &emsp;
          <h2>Add task</h2>
        </button>
        
      </form>
    </ul>
    <table>
      
    </table>

  </body>
</html>
